* {
    box-sizing: border-box;
}

:root {
    --white: #EDC5B3;
    --brown: #964818;
    --blue: #cceeff;
}


#game {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue);
}

#game div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#game div:hover {
    background-image: linear-gradient(#000000, #000000);
}

#menu {
    position: absolute;
    top: 100vh;
    left: 50px;
    width: calc(100% - 100px);
    height: calc(100vh - 50px);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 5px #ffffff;
}

#buttons {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100vh;
}

.button-circular {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: white;
    border: none;
    margin: 10px;
    padding: none;
    box-shadow: 0 0 2px #000000;
    cursor: pointer;
}
.button-circular:hover {
    background-color: var(--white);
}