* {
    box-sizing: border-box;
}

#game {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

#game div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#menu {
    position: absolute;
    top: 100vh;
    left: 50px;
    width: calc(100% - 100px);
    height: calc(100vh - 50px);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 5px #ffffff;
}